*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    background-color: rgba(171, 167, 167, 0.698);
   
}
table{
    border: hidden;
    border-radius: 10px;
    background-color: rgb(92, 115, 136); 
    margin-top: 25%;
}
table th{
    padding: 20px;
}